<%= form_for @promotion, :html => { :multipart => true }  do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label 'description' %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label 'rue' %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label 'ville' %><br />
    <%= f.text_field :locality %>
  </p>
  <p>
    <%= f.label 'code postal' %><br />
    <%= f.text_field :postal_code %>
  </p>
<p>
    <%= f.label 'pays' %><br />
    <%= f.text_field :country %>
  </p>

 <p>
   <%= f.label 'debut' %><br />
   
  </p>
 <p>
   <%= f.label 'fin' %><br />
   
  </p>
  <p>  
      <%= f.label "Photo" %>  
      <%= f.file_field :photo %>  
  <p>
  <p><%= f.submit %></p>
<% end %>
