<% title "Promotion" %>

<p>
  <strong>User:</strong>
  <%= @promotion.user.email %>
</p>
<p>
  <strong>Description:</strong>
  <%= @promotion.description %>
</p>
<p>
  <strong>Adresse:</strong>
  <%= @promotion.adresse %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @promotion.geocode.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @promotion.geocode.longitude %>
</p>
<p>
  <strong>Debut:</strong>
  <%= @promotion.debut %>
</p>
<p>
  <strong>Fin:</strong>
  <%= @promotion.fin %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_ftp(@promotion.photo.url)%>
</p>


<p>
  <%= link_to "Edit", edit_promotion_path(@promotion) %> |
  <%= link_to "Destroy", @promotion, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", promotions_path %>
</p>
